body{
    /*shorthand */
    margin: 0px;
    /*margin: 0;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;*/
}


div{
    height: 100px;
    width:  100px;
    padding: 10px;/*Espacamento em branco entre conteuro e border */

}

.vermelho{
    background-color: red;
    border: 5px solid black;
    margin-bottom: 50px;
}

.verde{
    background-color: green;
    margin-bottom: 50px;
    border: 5px solid black;


}

.azul{
    background-color: blue;
    border: 5px solid black;

}