* {
    margin: 0;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    align-items: center;

    margin: 0px auto;
    padding-top: 400px;
}

ul {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.escondido {
    display: none;
}